.block2
  width 100%
  height auto
  background-color #0C0B10
  background-image url("img/block2-bg.png")
  background-size 178%
  background-repeat no-repeat
  background-position 23% 50%
  position relative
  @media (min-width 768px)
    background-position 90% 50%
    background-size 74%
  @media (min-width 1280px)
    background-position 84% 113%
    background-size 636px 944px

  .bg-block2
    width 100%
    height 100%
    background-image  url("img/grain-texture.png")
    background-size auto
    background-position center center
    background-repeat repeat
    position absolute
    top 0
    left 0

  .block2-content
    width 100%
    height auto
    justify-content center
    align-items center
    flex-direction column
    padding-top 92px
    @media (min-width 1280px)
      padding-right 148px
      padding-left 148px
      box-sizing border-box
      padding-bottom 64px

    .block2-head
      width 100%
      height auto
      margin-bottom 40px
      @media (min-width 768px)
        margin-bottom 60px
      @media (min-width 1280px)
        margin-bottom 64px

      h2
        text-align left

      p
        color #FFFFFF
        font-size 20px
        text-align left
        @media (min-width 768px)
          font-size 24px
        @media (min-width 1280px)
          font-size 32px

    .services-blocks
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column

      .service-block
        width 100%
        height auto
        display flex
        display -webkit-flex
        flex-direction row
        justify-content flex-start
        align-items flex-start
        margin-bottom 20px
        @media (min-width 768px)
          margin-bottom 30px

        .img-serv
          width auto
          height auto
          margin-right 20px
          @media (min-width 768px)
            margin-right 30px

        .text-serv
          width auto
          height auto

          h3
            color #b03725
            font-family "BlissPro-Medium"
            font-size 18px
            font-weight 700
            text-align left
            @media (min-width 768px)
              font-size 24px
              margin-bottom 10px

          p
            color #FFFFFF
            font-family "BlissPro-Medium"
            font-size 16px
            max-width 420px
            text-align left