footer
  width 100%
  height auto
  background-color #0c0b10

  .footer-content
    width 100%
    height auto
    padding 12px 0
    display flex
    display -webkit-flex
    justify-content center
    align-items center
    flex-direction column
    @media (min-width 768px)
      flex-direction row
      justify-content space-between
      padding-top 12px
      padding-bottom 12px


    .text-left
      width auto
      height auto
      margin-bottom 10px
      @media (min-width 768px)
        margin 0

      p
        color #ffffff
        font-family "BlissPro-Medium"
        font-size 14px
        font-weight 700
        text-align center
        line-height 14px
        @media (min-width 768px)
          font-size 16px
          line-height 16px
          text-align left

      a
        color #ffffff
        font-family "BlissPro-LightItalic"
        font-size 12px
        font-weight 500
        text-align center
        @media (min-width 768px)
          font-size 14px
          text-align left


    .text-right
      width auto
      height auto
      margin-top 10px
      @media (min-width 768px)
        margin 0

      p
        color #9d9d9f
        font-family "BlissPro-Light"
        font-size 12px
        text-align center
        line-height 12px
        @media (min-width 768px)
          font-size 14px
          line-height 14px
          text-align right

      
      
      
#politic
    display:none

  h2
    text-align center

  p
    text-align center
    color #0c0b10
    font-family "BlissPro-Light"



#pop-up
  display none

  h2
    color #0c0b10
    font-family "BlissPro-Medium"
    font-size 24px
    font-weight 700
    text-align center
    margin-bottom 60px

  form
    width 100%
    height auto
    display flex
    display -webkit-flex
    justify-content center
    align-items center
    flex-direction column

    input
      width 100%
      max-width 300px
      height 50px
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      text-align center
      background transparent
      border-bottom 2px solid #0c0b10
      border-top none
      border-left none
      border-right none
      color #0c0b10
      font-family "BlissPro-Medium"
      font-size 16px
      font-weight 500
      margin-bottom 30px

    .check
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content flex-start
      align-items flex-start
      flex-direction row
      margin 0 auto
      @media (min-width 1280px)
        width 41%
      @media (min-width 1440px)
        width 36%

      input[type=checkbox]
        width 16px
        height 16px
        border-radius 2px
        border 2px solid #00#0c0b10
        background transparent
        margin 5px 16px 0 0

      p
        text-align left
        color #00#0c0b10
        font-family "BlissPro-LightItalic"
        font-size 16px
        font-weight 500
