section.block13
    div.block13-content.row
        div.maps
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.574245727856!2d37.61504221628315!3d55.713771980542965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b6a90381cb3%3A0x5129994a7428e3bc!2z0JPQvtGA0L7QtNGB0LrQsNGPINGD0LsuLCA4LCDQnNC-0YHQutCy0LAsIDExNTE5MQ!5e0!3m2!1sru!2sru!4v1502350030859" frameborder="0" style="border:0" scrolling="false" allowfullscreen ></iframe>

        div.head-top
            div.head-text
                p Спортивная студия единоборств и кроссфита

            div.top-contact
                div.top-time
                    img(src="img/time-icon-black.png")
                    p с 09:00 до 10:00
                div.top-mail
                    img(src="img/mail-icon-black.png")
                    a(href="mailTo:info@f-lab.club") info@f-lab.club
