section.block1.cnt
    div.bg-block1
    div.block1-content.row
        div.block1-head
            h1 F-LAB — cтудия единоборств и кроссфита на Тульской

        div.advantages-blocks
            div.advantage-block
                img(src="img/metro-icon.svg")
                p 5 минут <br>от метро
            div.advantage-block
                img(src="img/time-icon.svg")
                p Выбери <br>своё время
            div.advantage-block
                img(src="img/trainer-icon.svg")
                p С опытними <br>тренерами
            div.advantage-block
                img(src="img/ring-icon.svg")
                p В современном <br>зале
            div.advantage-block
                img(src="img/sneaker-icon.svg")
                p Собственный <br>магазин экипировки