section.block5.cnt
    div.bg-block5
    div.block5-content.row
        div.block5-head
            h2 Запишись на пробную <br>бесплатную тренировку
            p Разработай все мышцы тела! Приходи на бесплатные <br>занятия с нашими тренерами.

        form(method="post" action="mailer.php")
            input.phone(type="text" name="phone" placeholder="Ваш телефон" required)
            button.button-red(type="submit") Записаться
            div.check
                input(type="checkbox" required)
                a.fancybox(href="#politic")
                    p Я даю согласие на обработку <br>персональных данных