section.block7.cnt
    div.block7-content.row
        div.block7-head
            h2 ДОСТИГАЙТЕ <br>РЕЗУЛЬТАТА С НАМИ!

        div.tabs-block
            button#tab-1.button-gray.button-red-tab Тайский бокс
            button#tab-2.button-gray Самооборона
            button#tab-3.button-gray Бокс
            button#tab-4.button-gray Детская группа
            button#tab-5.button-gray ММА — смешанные боевые <br>искусства
            button#tab-6.button-gray Функциональный тренинг и <br>кроссфит
            button#tab-7.button-gray Функциональный тренинг и <br>тайский бокс

        div.tabs-info
            div#1.tab-info.tab-info-active
                div.tab-info-img
                    img(src="img/t-box.jpg")
                div.tab-text
                    p Тайский бокс — боевое искусство известное во всем мире! Является одним из самых жестких и эффективных видов единоборств.
                    p Интенсивные тренировки по тайскому боксу всего за год позволят новичку достаточно успешно защищаться и атаковать, повысят выносливость.
                    p - Базовая дисциплина ММА
                    p -для тех кто любит Hardcore
                    p -тренируйся с Чемпионом Мира
                    p -30 мин тренировки, как 3 часа в обычном фитнесе
                    div.a-block
                        a.a-red.fancybox(href="#pop-up") записаться
                        a.a-gray(href="#" onclick="false return") посмотреть расписание


            div#2.tab-info
                div.tab-info-img
                    img(src="img/samooborona.jpg")
                div.tab-text
                    p Самооборона — дисциплина, включающая в себя всё самое эффективное из спортивных единоборств (в том числе запрещенные приёмы) для максимально быстрой и эффективной нейтрализации угрозы жизни и здоровью. Ведь не всегда есть шанс избежать  прямой угрозы.
                    p Посещая уроки по самообороне Вам придется столкнуться с преодолением собственного страха в самых разных условиях, испытывать себя снова и снова.
                    div.a-block
                        a.a-red.fancybox(href="#pop-up") записаться
                        a.a-gray(href="#" onclick="false return") посмотреть расписание


            div#3.tab-info
                div.tab-info-img
                    img(src="img/box.jpg")
                div.tab-text
                    p Бокс способен изменить твою жизнь, построив характер и дав необходимые навыки, чтобы противостоять давлению и находить выход из сложных жизненных ситуаций.
                    p Ты станешь уверенным, несокрушимым, дисциплинированным и научишься управлять свой жизнью.

                    p Что Вы получите от тренировок:
                    p -минус 800 калорий за тренировку
                    p -отлично подходит для новичков
                    p -безопасность
                    p -основа самообороны
                    div.a-block
                        a.a-red.fancybox(href="#pop-up") записаться
                        a.a-gray(href="#" onclick="false return") посмотреть расписание



            div#4.tab-info
                div.tab-info-img
                    img(src="img/kids-group.jpg")
                div.tab-text
                    p Рекомендуется начинать занятия с 5 лет. Тренировки детской группы ведутся по направлениям: самбо, кикбоксинг, бокс, тайский бокс.
                    p Занятия в нашем клубе изменят жизнь вашего ребенка, научат командной работе, построив характер и дав необходимые навыки, чтобы противостоять давлению и находить выход из сложных жизненных ситуаций.
                    p - помогут стать уверенным и дисциплинированным;
                    p -разовьют физически и научат защищать себя;
                    p - дадут необходимые лидерские навыки на всю жизнь.
                    p В результате ваш ребёнок будет лучше учиться в школе и научится достигать поставленных целей.
                    div.a-block
                        a.a-red.fancybox(href="#pop-up") записаться
                        a.a-gray(href="#" onclick="false return") посмотреть расписание




            div#5.tab-info
                div.tab-info-img
                    img(src="img/mma.jpg")
                div.tab-text
                    p ММА — самый популярный вид единоборств.
                    p Включает в себя: BJJ, grappling, борьбу и муай тай;
                    p работа на лапах ,
                    p удары по мешкам,
                    p увеличение силы удара, за счет сложнокоординационных движений с эспандерами и легкими весами.
                    div.a-block
                        a.a-red.fancybox(href="#pop-up") записаться
                        a.a-gray(href="#" onclick="false return") посмотреть расписание



            div#6.tab-info
                div.tab-info-img
                    img(src="img/crosfit.jpg")
                div.tab-text
                    p Программа разрабатывается под каждого человека отдельно, в зависимости от пожеланий и уровня подготовки. Комбинирует разные режимы тренировок, такие как силовой тренинг, функциональный тренинг и кроссфит.
                    p тренировка с 4 тренерами одновременно.
                    p •  в понедельник основной уклон идёт на проработку мышц верхней части тела — руки, грудь, спина,
                    p • в среду — пресс, ноги и ягодицы,
                    p • а в пятницу вас ждёт интервальная тренировка, лёгкий кроссфит, где будут задействованы все группы мышц.
                    div.a-block
                        a.a-red.fancybox(href="#pop-up") записаться
                        a.a-gray(href="#" onclick="false return") посмотреть расписание



            div#7.tab-info
                div.tab-info-img
                    img(src="img/f-t-b.jpg")
                div.tab-text
                    p Тренировки, направленные на развитие мышечной силы, выносливости, координации, и гибкости, вовлекают в работу все мышцы тела, включая глубокие. Так же периодическое использование интервальных тренировок, которые часто называют круговыми, поможет укрепить сердечно-сосудистую систему и проработать все основные группы мышц.
                    p А включение в тренировку элементов тайского бокса позволит выработать реакцию, самоконтроль и сосредоточенность, присущие боевым искусствам, и можно не только улучшить фигуру, но и освоить простейшие навыки самообороны.
                    p -Один из самых лучших и эффективных способов похудения
                    p -Оптимальная нагрузка на костную систему и связочный аппарат
                    p -Улучшает работу сердечно-сосудистой системы
                    p -Повышается выносливость организма в целом
                    p -Подходит даже новичкам
                    div.a-block
                        a.a-red.fancybox(href="#pop-up") записаться
                        a.a-gray(href="#" onclick="false return") посмотреть расписание





