section.block12.cnt
    div.bg-block12
    div.block12-content.row
        div.block12-head
            h2 Подпишись и будь в курсе наших новостей

        form(method="post" action="mailer.php")
            input(type="text" name="name" placeholder="Ваше имя" required)
            input(type="text" name="email" placeholder="Ваш email" required)
            button.button-red(type="submit") Записаться
            div.check
                input(type="checkbox" required)
                a.fancybox(href="#politic")
                    p Я даю согласие на обработку <br>персональных данных