section.block3.cnt
    div.block3-content.row
        div.block3-head
            h2 МЫ СОЗДАЛИ ДЛЯ ВАС НУЖНЫЕ УСЛОВИЯ

        div.conditions-blocks
            div.condition-block
                h3 Для занятий
                p Профессиональный ринг, татами для борьбы, йоги, растяжки
                p 8 боксерских мешков различной набивки для любителей и профессионалов
                p Кроссфит зона с турниками, брусьями, штангой, гирями и гантелями

            div.condition-block
                h3 Для отдыха и ожидания
                p Бесплатный WI-FI, уютная зона отдыха и ожидания
                p Кофе, чай или коктейль спортивного питания
                p Качественный спорт-пит из США, который помогут подобрать тренеры

            span *дополнительно — посещение бани, массаж