section.block11.cnt
    div.block11-content.row
        div.block11-head
            p Присоединяйтесь к F-lab<br>в Instagram


        div#awesome.photo-block
            <!-- LightWidget WIDGET -->
            <script src="//lightwidget.com/widgets/lightwidget.js"></script>
            <iframe src="//lightwidget.com/widgets/5f0af8c8d0e950d6b9d992e98b469de4.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
