section.block8.cnt
    div.block8-content.row
        div.block8-head
            h2 ТРЕНИРУЙСЯ С ЧЕМПИОНАМИ МИРА!

        div.treners-blocks
            div.trener-block
                div.trener-img
                    img(src="img/trener-1.png")
                div.trener-text
                    h3 Николай Ковалевич
                    p Главный тренер F-LAB, который является чемпионом Мира и Европы, 3-кратным чемпионом России по тайскому боксу, МСМК по тайскому боксу и элитным тренером.
                    p Николай Ковалевич по версии журнала GQ признан самым успешным мотивирующим фитнес-контентером в социальных сетях по итогам 2015 года.

                    span Образование:
                    p Специалист по адаптивной физической культуре
                    p Занимается тайским боксом с 1996 года. Опыт тренерской работы — с 2003 года.

            div.trener-block
                div.trener-img
                    img(src="img/trener-2.png")
                div.trener-text
                    h3 Артур Рахимов
                    p Тренер F-LAB, Многократный призёр первенств Москвы и МО по боевому самбо.


                    span Образование:
                    p Высшее. РГУФКСМиТ, спортивно прикладные единоборства.
                    span Специализация:
                    p Боевое самбо, тайский бокс, БЖЖ, Грепплинг, Йога, специализированный функциональный тренинг для бойцов, коррекция тела, работа с клиентами, имеющие проблемы с опорно двигательным аппаратом, работа с детьми, обучение технике борьбы самбо (участие в соревнованиях), кикбоксинга, акробатике, восстановление после родов.

            div.trener-block
                div.trener-img
                    img(src="img/trener-3.png")
                div.trener-text
                    h3 Юлия Ковалевич
                    p Тренер F-LAB, КМС по спортивным бальным танцам.

                    span Образование:
                    p Высшее экономическое.

                    span Специализация:
                    p Функциональный тренинг, кроссфит, силовые упражнения, повышение выносливости, скорости «взрыва», Муай Тай для начинающих, растяжка.

            div.trener-block
                div.trener-img
                    img(src="img/trener-4.png")
                div.trener-text
                    h3 Артём Нечесов
                    p Тренер F-LAB, Призёр чемпионата Москвы по тхэквондо.

                    span Образование:
                    p Московский Спортивный колледж
                    span Специализация:
                    p Боевые искусства, функциональный тренинг, кардио-тренировки, самооборона, развитие гибкости и координации, постановка ударной техники, работа с людьми разных возрастов.