section.block2.cnt
    div.bg-block2
    div.block2-content.row
        div.block2-head
            h2 ПЕРСОНАЛЬНЫЕ И ГРУППОВЫЕ ТРЕНИРОВКИ
            p по единоборствам и кроссфиту

        div.services-blocks
            div.service-block
                div.img-serv
                    img(src="img/fire-icon.svg")
                div.text-serv
                    h3 Высокая эффективность
                    p Теряйте до 800 ккал за занятие, ведь 20 мин у нас — это 3 часа в обычном фитнесе
            div.service-block
                div.img-serv
                    img(src="img/trainer-icon.svg")
                div.text-serv
                    h3 То, что подходит именно вам
                    p Индивидуальная программа тренировки
            div.service-block
                div.img-serv
                    img(src="img/teddy-icon.svg")
                div.text-serv
                    h3 Занятия с 5-ти лет (самбо, кикбоксинг, бокс)
                    p Контроль нагрузок, физическое и психоэмоциональное развитие, безопасность тренировок
            div.service-block
                div.img-serv
                    img(src="img/trophy-icon.svg")
                div.text-serv
                    h3 Опытные тренеры
                    p В нашей команде — чемпионы Мира, которые научат Вас крутым ударам и различным техникам
            div.service-block
                div.img-serv
                    img(src="img/dumbbells-icon.svg")
                div.text-serv
                    h3 Авторская тренировка
                    p Попробуй нашу авторскую тренировку Fight&crossfit с 4 тренерами одновременно
            div.service-block
                div.img-serv
                    img(src="img/hand-icon.svg")
                div.text-serv
                    h3 Любой уровень подготовки
                    p Комбинируя режимы тренировок, мы помогаем вам поддерживать мышцы тела в тонусе и формировать стройную и подтянутую фигуру
