section.block6.cnt
    div.bg-block6
    div.block6-content.row

        div.block6-head
            h2 ИСПЫТАЙ НА СЕБЕ 4 ВИДА СПОРТА ЗА ОДНУ ТРЕНИРОВКУ!
            p Авторская тренировка «FIGHT&CROSSFIT»

        div.rec
            div.rec-block
                p Вы будете заниматься с 4-мя тренерами одновременно по 4 направлениям: классический и тайский бокс, кроссфит и функциональный тренинг
                p Вас ждёт 3 зоны для работы: ринг, боксерские мешки, зона кроссфита.
                p В каждой зоне Вы проводите по 4 раунда. Всего 12 раундов.
                a.fancybox(href="#rec")
                    a.fancybox(href="#pop-up")
                        button.button-red Записаться на <br>тренировку