section.block10.cnt
    div.block10-content.row
        div.block10-head
            h2 С НАМИ ТРЕНИРУЮТСЯ:

        div.logos-block
            div.logo
                img(src="img/logo-gaz.png")
            div.logo
                img(src="img/logo-sber.png")
            div.logo
                img(src="img/logo-mdm.png")
            div.logo
                img(src="img/logo-alpha.png")