footer.cnt
    div.footer-content.row
        div.text-left
            p F-lab © 2017
            a.fancybox(href="#politic") Политика конфиденциальности

        div.nt-logo
            a(href="http://worknext.ru/" target="_blank")
                img(src="img/logont.svg")

        div.text-right
            p ОГРН: 1177746455446
            p ИНН: 7704410856

      

div#politic
    div.politic-popup
        h2 Политика конфиденциальности
        p Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
        p Все лица, заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.
        p Под персональными данными Гражданина понимается нижеуказанная информация: общая информация (имя и адрес электронной почты, телефон).
        p Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
        p Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действую
        


div#pop-up
    div.pop-up
        h2 Оставьте заявку, и мы перезвоним вам в <br>ближайшее время.
        form(method="post" action="mailer.php")
            input(name="name" type="text" placeholder="Ваше имя" required)
            input(name="phone" type="tel" placeholder="Ваш телефон" required)
            input(name="email" type="text" placeholder="Ваш email" required)
            button.button-red Записаться
            div.check
                input(type="checkbox" required)
                a.fancybox(href="#politic")
                    p Я даю согласие на обработку <br>персональных данных