header
    div.header-content
        div.head-top.cnt
            div.head-text
                p Спортивная студия единоборств и кроссфита

            div.top-contact
                div.top-time
                    img(src="img/time-white-icon.svg")
                    p с 09:00 до 10:00
                div.top-mail
                    img(src="img/mail-icon.svg")
                    a(href="mailTo:info@f-lab.club") info@f-lab.club


        div.logo-menu.cnt
            div.logo
                img(src="img/logo.png")

            div.menu-hamburger
                div.block-menu
                    div.burger
                        div.line1
                        div.line2
                        div.line3


            div.menu
                div.menu-content
                    div.address
                        img(src="img/location-black-icon.svg")
                        p ул. Городская, 8<br> (5 мин от м. Тульская)

                    div.phone
                        img(src="img/phone-icon.svg")
                        a(href="tel:84993947177") 8 (499) 394-71-77&#160;&#160;/&#160;&#160;
                        a(href="tel:89250777217")  8 (925) 077-72-17

                    div.social-icons
                        a(href="https://m.facebook.com/flab.club" target="_blank")
                            img(src="img/fb-icon.svg")
                        a(href="https://www.youtube.com/user/olimpboxe" target="_blank")
                            img(src="img/yb-icon.svg")
                        a(href="https://m.vk.com/flab_club" target="_blank")
                            img(src="img/vk-icon.svg")
                        a(href="https://www.instagram.com/flab_club/" target="_blank")
                            img(src="img/inst-icon.svg")
                        a(href="https://mobile.twitter.com/flab_club" target="_blank")
                            img(src="img/tw-icon.svg")


                
        